<section class="accomp">
    <video ref="video" class="accomp__video" src="~/assets/img/video/intro-video.mp4" autoplay muted loop></video>
    <div class="container">
        <div class="accomp__wrapper">
            <h1 class="heading heading1">
                <span class="line string" ref="string1">{{ language[defineLanguage].titleTop }}</span>
                <span class="line string" ref="string2">{{ language[defineLanguage].titleBottom }}<span class="green">.</span></span>
            </h1>
            <img class="plus accomp__plus" src="~/assets/img/svg/plus.svg" alt="img" ref="plus">
            <p class="subtitle">
                <span class="subtitle__content" ref="subtitle__content">{{ language[defineLanguage].description }}</span>
            </p>
            <a class="accomp__mail" href="mailto:support@agencybet.com">
                <span ref="accomp__mail">support@agencybet.com</span>
            </a>
            <Scroll/>
            <div class="btn__box">
                <a class='btn btn__content' data-text='VIEW PROJECTS' href='#' ref="btn__content">
                    <span>V</span>
                    <span>I</span>
                    <span>E</span>
                    <span>W</span>
                    <span> </span>
                    <span>P</span>
                    <span>R</span>
                    <span>O</span>
                    <span>J</span>
                    <span>E</span>
                    <span>C</span>
                    <span>T</span>
                    <span>S</span>
                </a>
            </div>
        </div>
    </div>
</section>